@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutSimple";
}
<div class="row youss-row">
    <div class="col-sm-6">
        <div class="card border-light youss-card">
            <div class="card-body">
                <div style="display:flex; justify-content:space-between;">
                    <h5 class="card-title">LAC001</h5>
                    <div class="d-flex justify-content-between youss-light" >
                        <div>
                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                            </svg>
                        </div>
                        <div class="youss-container">
                        </div>
                    </div>
                </div>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <hr />
                <div class="row mb-1">
                    <div class="col m-1">
                        <button class="btn btn-success btn-block" style="display:flex; justify-content:space-evenly;">
                            <svg width="25" height="25" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 66C11 40.073 11 27.1095 19.052 19.052C27.115 11 40.073 11 66 11C91.927 11 104.89 11 112.942 19.052C121 27.115 121 40.073 121 66C121 91.927 121 104.89 112.942 112.942C104.896 121 91.927 121 66 121C40.073 121 27.1095 121 19.052 112.942C11 104.896 11 91.927 11 66ZM87.6425 30.756C88.4013 31.0652 89.0509 31.5933 89.5083 32.2732C89.9658 32.953 90.2104 33.7536 90.211 34.573V49.5055C90.211 50.5995 89.7764 51.6487 89.0028 52.4223C88.2292 53.1959 87.18 53.6305 86.086 53.6305H71.5C70.6881 53.6309 69.8942 53.3918 69.2176 52.943C68.541 52.4943 68.0119 51.8558 67.6966 51.1077C67.3812 50.3596 67.2937 49.535 67.4449 48.7373C67.5961 47.9397 67.9793 47.2044 68.5465 46.6235L72.7375 42.3335C68.6896 41.0898 64.3764 40.9911 60.2759 42.0482C56.1753 43.1054 52.4475 45.2772 49.5055 48.323C40.3315 57.7115 40.3315 72.9795 49.5055 82.368C51.6444 84.5819 54.2071 86.3426 57.0409 87.5451C59.8747 88.7476 62.9216 89.3673 66 89.3673C69.0784 89.3673 72.1253 88.7476 74.9591 87.5451C77.7929 86.3426 80.3556 84.5819 82.4945 82.368C86.1056 78.6627 88.4342 73.8977 89.1385 68.772C89.4575 66.473 91.2835 64.537 93.6045 64.537C95.8375 64.537 97.6855 66.3245 97.471 68.5465C96.7709 75.9212 93.5685 82.8344 88.396 88.1375C85.4886 91.138 82.008 93.5237 78.1607 95.1529C74.3134 96.7822 70.178 97.6217 66 97.6217C61.822 97.6217 57.6865 96.7822 53.8393 95.1529C49.992 93.5237 46.5114 91.138 43.604 88.1375C31.3005 75.5425 31.3005 55.154 43.604 42.559C48.0931 37.9255 53.9087 34.7983 60.2495 33.6084C66.5902 32.4185 73.1439 33.2243 79.0075 35.915L83.1325 31.691C83.706 31.1043 84.4415 30.702 85.2448 30.5354C86.0482 30.3689 86.883 30.4457 87.6425 30.756Z" fill="#37517E" />
                            </svg>
                            <div> Start </div>
                        </button>
                    </div>
                    <div class="col m-1">
                        <button class="btn btn-danger btn-block" style="display:flex; justify-content:space-evenly;">
                            <svg width="25" height="25" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 66C11 40.073 11 27.1095 19.052 19.052C27.115 11 40.073 11 66 11C91.927 11 104.89 11 112.942 19.052C121 27.115 121 40.073 121 66C121 91.927 121 104.89 112.942 112.942C104.896 121 91.927 121 66 121C40.073 121 27.1095 121 19.052 112.942C11 104.896 11 91.927 11 66ZM87.6425 30.756C88.4013 31.0652 89.0509 31.5933 89.5083 32.2732C89.9658 32.953 90.2104 33.7536 90.211 34.573V49.5055C90.211 50.5995 89.7764 51.6487 89.0028 52.4223C88.2292 53.1959 87.18 53.6305 86.086 53.6305H71.5C70.6881 53.6309 69.8942 53.3918 69.2176 52.943C68.541 52.4943 68.0119 51.8558 67.6966 51.1077C67.3812 50.3596 67.2937 49.535 67.4449 48.7373C67.5961 47.9397 67.9793 47.2044 68.5465 46.6235L72.7375 42.3335C68.6896 41.0898 64.3764 40.9911 60.2759 42.0482C56.1753 43.1054 52.4475 45.2772 49.5055 48.323C40.3315 57.7115 40.3315 72.9795 49.5055 82.368C51.6444 84.5819 54.2071 86.3426 57.0409 87.5451C59.8747 88.7476 62.9216 89.3673 66 89.3673C69.0784 89.3673 72.1253 88.7476 74.9591 87.5451C77.7929 86.3426 80.3556 84.5819 82.4945 82.368C86.1056 78.6627 88.4342 73.8977 89.1385 68.772C89.4575 66.473 91.2835 64.537 93.6045 64.537C95.8375 64.537 97.6855 66.3245 97.471 68.5465C96.7709 75.9212 93.5685 82.8344 88.396 88.1375C85.4886 91.138 82.008 93.5237 78.1607 95.1529C74.3134 96.7822 70.178 97.6217 66 97.6217C61.822 97.6217 57.6865 96.7822 53.8393 95.1529C49.992 93.5237 46.5114 91.138 43.604 88.1375C31.3005 75.5425 31.3005 55.154 43.604 42.559C48.0931 37.9255 53.9087 34.7983 60.2495 33.6084C66.5902 32.4185 73.1439 33.2243 79.0075 35.915L83.1325 31.691C83.706 31.1043 84.4415 30.702 85.2448 30.5354C86.0482 30.3689 86.883 30.4457 87.6425 30.756Z" fill="#37517E" />
                            </svg>
                            <div> Stop </div>
                        </button>
                    </div>
                </div>
                <a href="#" class="btn btn-block youss-btn">Details</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-light youss-card">
            <div class="card-body">
                <div style="display:flex; justify-content:space-between;">
                    <h5 class="card-title">LAC002</h5>
                    <div class="d-flex justify-content-between youss-light">
                        <div>
                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                            </svg>
                        </div>
                        <div class="youss-container">
                        </div>
                    </div>
                </div>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <hr />
                <div class="row mb-1" >
                    <div class="col m-1">
                        <button class="btn btn-success btn-block" style="display:flex; justify-content:space-evenly;">
                            <svg width="25" height="25" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 66C11 40.073 11 27.1095 19.052 19.052C27.115 11 40.073 11 66 11C91.927 11 104.89 11 112.942 19.052C121 27.115 121 40.073 121 66C121 91.927 121 104.89 112.942 112.942C104.896 121 91.927 121 66 121C40.073 121 27.1095 121 19.052 112.942C11 104.896 11 91.927 11 66ZM87.6425 30.756C88.4013 31.0652 89.0509 31.5933 89.5083 32.2732C89.9658 32.953 90.2104 33.7536 90.211 34.573V49.5055C90.211 50.5995 89.7764 51.6487 89.0028 52.4223C88.2292 53.1959 87.18 53.6305 86.086 53.6305H71.5C70.6881 53.6309 69.8942 53.3918 69.2176 52.943C68.541 52.4943 68.0119 51.8558 67.6966 51.1077C67.3812 50.3596 67.2937 49.535 67.4449 48.7373C67.5961 47.9397 67.9793 47.2044 68.5465 46.6235L72.7375 42.3335C68.6896 41.0898 64.3764 40.9911 60.2759 42.0482C56.1753 43.1054 52.4475 45.2772 49.5055 48.323C40.3315 57.7115 40.3315 72.9795 49.5055 82.368C51.6444 84.5819 54.2071 86.3426 57.0409 87.5451C59.8747 88.7476 62.9216 89.3673 66 89.3673C69.0784 89.3673 72.1253 88.7476 74.9591 87.5451C77.7929 86.3426 80.3556 84.5819 82.4945 82.368C86.1056 78.6627 88.4342 73.8977 89.1385 68.772C89.4575 66.473 91.2835 64.537 93.6045 64.537C95.8375 64.537 97.6855 66.3245 97.471 68.5465C96.7709 75.9212 93.5685 82.8344 88.396 88.1375C85.4886 91.138 82.008 93.5237 78.1607 95.1529C74.3134 96.7822 70.178 97.6217 66 97.6217C61.822 97.6217 57.6865 96.7822 53.8393 95.1529C49.992 93.5237 46.5114 91.138 43.604 88.1375C31.3005 75.5425 31.3005 55.154 43.604 42.559C48.0931 37.9255 53.9087 34.7983 60.2495 33.6084C66.5902 32.4185 73.1439 33.2243 79.0075 35.915L83.1325 31.691C83.706 31.1043 84.4415 30.702 85.2448 30.5354C86.0482 30.3689 86.883 30.4457 87.6425 30.756Z" fill="#37517E" />
                            </svg>
                            <div> Start </div>
                        </button>
                    </div>
                    <div class="col m-1">
                        <button class="btn btn-danger btn-block" style="display:flex; justify-content:space-evenly;">
                            <svg width="25" height="25" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 66C11 40.073 11 27.1095 19.052 19.052C27.115 11 40.073 11 66 11C91.927 11 104.89 11 112.942 19.052C121 27.115 121 40.073 121 66C121 91.927 121 104.89 112.942 112.942C104.896 121 91.927 121 66 121C40.073 121 27.1095 121 19.052 112.942C11 104.896 11 91.927 11 66ZM87.6425 30.756C88.4013 31.0652 89.0509 31.5933 89.5083 32.2732C89.9658 32.953 90.2104 33.7536 90.211 34.573V49.5055C90.211 50.5995 89.7764 51.6487 89.0028 52.4223C88.2292 53.1959 87.18 53.6305 86.086 53.6305H71.5C70.6881 53.6309 69.8942 53.3918 69.2176 52.943C68.541 52.4943 68.0119 51.8558 67.6966 51.1077C67.3812 50.3596 67.2937 49.535 67.4449 48.7373C67.5961 47.9397 67.9793 47.2044 68.5465 46.6235L72.7375 42.3335C68.6896 41.0898 64.3764 40.9911 60.2759 42.0482C56.1753 43.1054 52.4475 45.2772 49.5055 48.323C40.3315 57.7115 40.3315 72.9795 49.5055 82.368C51.6444 84.5819 54.2071 86.3426 57.0409 87.5451C59.8747 88.7476 62.9216 89.3673 66 89.3673C69.0784 89.3673 72.1253 88.7476 74.9591 87.5451C77.7929 86.3426 80.3556 84.5819 82.4945 82.368C86.1056 78.6627 88.4342 73.8977 89.1385 68.772C89.4575 66.473 91.2835 64.537 93.6045 64.537C95.8375 64.537 97.6855 66.3245 97.471 68.5465C96.7709 75.9212 93.5685 82.8344 88.396 88.1375C85.4886 91.138 82.008 93.5237 78.1607 95.1529C74.3134 96.7822 70.178 97.6217 66 97.6217C61.822 97.6217 57.6865 96.7822 53.8393 95.1529C49.992 93.5237 46.5114 91.138 43.604 88.1375C31.3005 75.5425 31.3005 55.154 43.604 42.559C48.0931 37.9255 53.9087 34.7983 60.2495 33.6084C66.5902 32.4185 73.1439 33.2243 79.0075 35.915L83.1325 31.691C83.706 31.1043 84.4415 30.702 85.2448 30.5354C86.0482 30.3689 86.883 30.4457 87.6425 30.756Z" fill="#37517E" />
                            </svg>
                            <div> Stop </div>
                        </button>
                    </div>
                </div>
                <a href="#" class="btn btn-block youss-btn">Details</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-light youss-second-card col bg-light m-3" style="max-width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;">
                        <svg width="30" height="30" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1687 127.875C5.36249 127.875 2.26874 122.925 5.36249 116.944L60.4312 8.6625C63.525 2.68125 68.475 2.68125 71.5687 8.6625L126.637 116.944C129.731 122.925 126.637 127.875 119.831 127.875H12.1687Z" fill="#FFCE31" />
                            <path d="M57.3375 48.675L63.1125 86.8312C63.7312 90.5437 68.475 90.5437 69.0937 86.8312L74.6625 48.675C75.6937 33.825 56.3062 33.825 57.3375 48.675Z" fill="#231F20" />
                            <path d="M66 110.962C70.7842 110.962 74.6625 107.084 74.6625 102.3C74.6625 97.5158 70.7842 93.6375 66 93.6375C61.2158 93.6375 57.3375 97.5158 57.3375 102.3C57.3375 107.084 61.2158 110.962 66 110.962Z" fill="#231F20" />
                        </svg>
                        <h5 class="card-title mt-2">
                            Light card title
                        </h5>
                    </div>
                    <div class="youss-signal"></div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>