html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    height: 82vh;
}

    body::-webkit-scrollbar {
        display: none
    }

.user-profile {
    font-size: 18px;
}

.configuration {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%
}

.sidebar {
    width: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 5px;
    height: 100%;
}

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

        .sidebar ul li, .sidebar button, .start-button {
            margin: 10px 0;
            cursor: pointer;
            background-color: #fff !important;
            color: #37517e !important;
            font-weight: 500;
            padding: 10px;
            display: flex;
            gap: 5px;
            align-items: center;
            border-radius: 4px
        }

        .sidebar ul .active {
            background-color: #37517e !important;
            color: #fff !important;
        }

        .sidebar ul li:hover {
            background-color: #47b2e4;
            color: #fff;
            border: none
        }
        .sidebar ul li:hover {
            background-color:#d2d2d2 !important;
        }
    main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.lac-card {
    height: auto;
    border-radius: 2px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    padding: 2px;
    flex-direction: column;
    width: 200px;
    gap: 5px
}

    .lac-card div {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        padding: 1px 8px;
        font-weight: 600;
        height: 50%;
        border-radius: 2px
    }

.lac-status {
    color: white;
    font-weight: 500 !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: row;
    background-color: #e99d00
}

select {
    padding: 5px 15px;
    border-radius: 4px
}

.status-card {
    background-color: white;
    border-radius: 0px;
    height: 90%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0px;
    padding: 0px;
}

.status-indicator {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px 10px;
    width: 200px;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.status-indicator-start {
    width: 235px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.label {
    font-weight: bold;
}

.led {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

    .led.on {
        background-color: green;
    }

    .led.off {
        background-color: red;
    }

.start-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.settings, .info-system {
    margin: 10px 0;
}

    .settings a, .info-system a {
        color: #007bff;
        text-decoration: none;
    }

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#header {
    background-color: #37517e !important
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 6px !important;
    background-color: #37517e;
    border: none !important
}
    .circle:hover {
        background-color: #4065a5 !important
    }
.active-auto {
    background-color: #008F28 !important
    /*background-color: #008F28 !important*/
}

.logout {
    bottom: 100px
}

.sidebar .active-menu, .active-menu path  {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1) !important; 
    background-color: #37517E !important;
    fill:white
}

.active-menu1 svg path, .sidebar .active-menu1 {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1) !important;
    background-color: #37517E !important;
    stroke: white;
}
.modal-header {
    background-color: #37517E;
    color:white
}
.active-lac-side {
    background-color: #008F28 !important
}
.nav-li{
    padding-left:0 !important;
}
.nav-li a {
    padding:0
}
/*.youss-row{
    padding:1em;
}
.youss-card {
    -webkit-box-shadow: 0px 4px 50px -10px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 4px 50px -10px rgba(0,0,0,0.23);
    box-shadow: 0px 4px 50px -10px rgba(0,0,0,0.23);
}
.youss-btn {
    background-color: #37517e !important;
    color: #fff !important;
}
.youss-signal{
    width:1em;
    height:1em;
    border-radius:50px;
    background-color:red;
}
.youss-vl {
    border-right: 2px solid #37517e;
}
.youss-second-card {
    -webkit-box-shadow: 0px 8px 21px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 8px 21px -7px rgba(0,0,0,0.4);
    box-shadow: 0px 8px 21px -7px rgba(0,0,0,0.4);
}
.youss-light {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #37517e;
}
.youss-container {*/
    /* Basic dimensions and centering */
    /*width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;*/
    /* Dark mode colors and gradient */
    /*background: #121212;*/ /* Fallback for browsers that don't support gradients */
    /*background: linear-gradient( 135deg, #f6a823 25%, #fff 25%, #fff 50%, #f6a823 50%, #f6a823 75%, #fff 75%, #fff );
    background-size: 40px 40px;*/
    /* Animation */
    /*animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

.left-container{
    width:100%
}
.form {
    display:none;
    height: 90%;
    padding:10px 10px 20px 10px;
    border-radius:10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6) !important;
    background-color: white;
    width: 35%
}

.arc{
    border: solid 1px ;
    padding:5px;
    width:50%;
    text-align:center;
    border-radius:5px;

}
.arc-action {
    color:white;
    text-align:center;
    background-color: green;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}*/

.youss-row {
    padding: 1em;
}

.youss-card {
    -webkit-box-shadow: 0px 4px 50px -10px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 4px 50px -10px rgba(0,0,0,0.23);
    box-shadow: 0px 4px 50px -10px rgba(0,0,0,0.23);
    width: auto !important;
}

.card-width {
    width: 1000px;
}

.youss-btn {
    background-color: #37517e !important;
    color: #fff !important;
}

.youss-signal {
    width: 1em;
    height: 1em;
    border-radius: 50px;
    background-color: red;
}

.youss-vl {
    border-right: 2px solid #37517e;
}

.youss-second-card {
    -webkit-box-shadow: 0px 8px 21px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 8px 21px -7px rgba(0,0,0,0.4);
    box-shadow: 0px 8px 21px -7px rgba(0,0,0,0.4);
}

.youss-light {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #37517e;
}

.youss-container {
    /* Basic dimensions and centering */
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient( 135deg, #f6a823 25%, #fff 25%, #fff 50%, #f6a823 50%, #f6a823 75%, #fff 75%, #fff );
    background-size: 40px 40px;
    /* Animation */
    animation: move 4s linear infinite;
}

.wrapper {
    background: white;
    box-shadow: 1px 1px 10px #999;
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px !important;
    width: 100%;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
}

.scrolls {
    height: 80px;
    white-space: nowrap;
    transition: transform 0.5s;
}

.imageDiv img {
    box-shadow: 1px 1px 10px #999;
    margin: 2px;
    max-height: 50px;
    cursor: pointer;
    display: inline-block;
}

.scroll-horizontal-izquierda {
    left: 0;
}

.scroll-horizontal-derecha {
    right: 0;
}

.scroll {
    background: white;
    padding-top: 22px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.wrappper1
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.youss-scroll-container {
    display: flex;
    overflow-x: auto;
    /*width:75vh !important;*/
    white-space: nowrap;
}

.youss-item {
    width: 50em;
    height: 5em;
    background-color: #f0f0f0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

.left-container {
    width: 100% !important;
    text-align:center;
}

#formulaire {
    display: none;
    width: 100% !important;
    height: 90%;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6) !important;
    background-color: white;
}

.arc {
    border: solid 1px;
    padding: 5px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

.arc-action {
    color: white;
    text-align: center;
    background-color: green;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    cursor:pointer;
}

.sub-container {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    width: 100%;
}

    .sub-container::-webkit-scrollbar {
        display: none
    }

.content {
    margin-left: 50px;
    width: calc(100% - 50px) !important;
}
.youss-img{

}
}

.form-group input, .form-group select {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    padding-left:3px
}
    .form-group input::placeholder, .form-group select::placeholder {
        color: #fff;
        opacity: 1;
    }
    .form-group input:focus, .form-group select:focus {
        background-color: transparent;
        color:white
    }
select option[value=""] {
    color: #fff; /* Couleur du texte du placeholder */
}
.witron {
    text-align:center;
    font-size: 30px !important;
    color: white;
    padding: 0;
    line-height: 1 !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
}
.youss-active-border {
    border: 2px solid #37517e;
}

.active-border {
    border: 1px solid #ffc107; /* Couleur de la bordure active */
}