@using HackathonProject.ViewModel
@model ErrorContentViewModel
@{
}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-danger">
          @Model.Message
      </div>
        
    </div>

</div>
